{{ header }}{{ column_left }}
<div id="content">
  <div class="page-header">
    <div class="container-fluid">
      <div class="pull-right">
        <button type="submit" form="form-module" data-toggle="tooltip" title="{{ button_save }}" class="btn btn-primary"><i class="fa fa-save"></i></button>
        <a href="{{ cancel }}" data-toggle="tooltip" title="{{ button_cancel }}" class="btn btn-default"><i class="fa fa-reply"></i></a>
      </div>
      <h1>{{ heading_title }}</h1>
      <ul class="breadcrumb">
        {% for breadcrumb in breadcrumbs %}
          <li><a href="{{ breadcrumb.href }}">{{ breadcrumb.text }}</a></li>
        {% endfor %}
      </ul>
    </div>
  </div>
  <div class="container-fluid">
    {% if error_warning %}
      <div class="alert alert-danger"><i class="fa fa-exclamation-circle"></i> {{ error_warning }}</div>
    {% endif %}

    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title"><i class="fa fa-bell"></i> {{ text_edit }}</h3>
      </div>
      <div class="panel-body">
        <form action="{{ action }}" method="post" enctype="multipart/form-data" id="form-module" class="form-horizontal">
          <ul class="nav nav-tabs">
            <li class="active"><a href="#tab-general" data-toggle="tab">{{ tab_general }}</a></li>
            <li><a href="#tab-message" data-toggle="tab">{{ tab_message }}</a></li>
            <li><a href="#tab-design" data-toggle="tab">{{ tab_design }}</a></li>
            <li><a href="#tab-behavior" data-toggle="tab">{{ tab_behavior }}</a></li>
          </ul>

          <div class="tab-content" style="padding-top: 15px;">
            <div class="tab-pane active" id="tab-general">
              <div class="form-group">
                <label class="col-sm-2 control-label" for="input-status">{{ entry_status }}</label>
                <div class="col-sm-10">
                  <select name="module_just_purchased_notification_status" id="input-status" class="form-control">
                    <option value="1" {{ module_just_purchased_notification_status ? 'selected' : '' }}>{{ text_enabled }}</option>
                    <option value="0" {{ not module_just_purchased_notification_status ? 'selected' : '' }}>{{ text_disabled }}</option>
                  </select>
                </div>
              </div>

              <div class="form-group">
                <label class="col-sm-2 control-label" for="input-auto-inject">{{ entry_auto_inject }}</label>
                <div class="col-sm-10">
                  <select name="module_just_purchased_notification_auto_inject" id="input-auto-inject" class="form-control">
                    <option value="1" {{ module_just_purchased_notification_auto_inject ? 'selected' : '' }}>{{ text_enabled }}</option>
                    <option value="0" {{ not module_just_purchased_notification_auto_inject ? 'selected' : '' }}>{{ text_disabled }}</option>
                  </select>
                </div>
              </div>

              <div class="form-group required">
                <label class="col-sm-2 control-label" for="input-limit"><span data-toggle="tooltip" title="{{ help_limit }}">{{ entry_limit }}</span></label>
                <div class="col-sm-10">
                  <input type="number" min="1" name="module_just_purchased_notification_limit" value="{{ module_just_purchased_notification_limit }}" id="input-limit" class="form-control" />
                  {% if error_limit %}<div class="text-danger">{{ error_limit }}</div>{% endif %}
                </div>
              </div>

              <div class="form-group required">
                <label class="col-sm-2 control-label">{{ entry_order_status }}</label>
                <div class="col-sm-10">
                  <div class="well well-sm" style="height: 150px; overflow: auto;">
                    {% for order_status in order_statuses %}
                      <div class="checkbox">
                        <label>
                          <input type="checkbox" name="module_just_purchased_notification_order_status[]" value="{{ order_status.order_status_id }}"
                            {% if order_status.order_status_id in module_just_purchased_notification_order_status %}checked="checked"{% endif %} />
                          {{ order_status.name }}
                        </label>
                      </div>
                    {% endfor %}
                  </div>
                  {% if error_order_status %}<div class="text-danger">{{ error_order_status }}</div>{% endif %}
                </div>
              </div>

              <div class="form-group">
                <label class="col-sm-2 control-label" for="input-cache">{{ entry_cache }}</label>
                <div class="col-sm-10">
                  <select name="module_just_purchased_notification_cache" id="input-cache" class="form-control">
                    <option value="1" {{ module_just_purchased_notification_cache ? 'selected' : '' }}>{{ text_enabled }}</option>
                    <option value="0" {{ not module_just_purchased_notification_cache ? 'selected' : '' }}>{{ text_disabled }}</option>
                  </select>
                </div>
              </div>

              <div class="form-group">
                <label class="col-sm-2 control-label" for="input-cache-ttl"><span data-toggle="tooltip" title="{{ help_cache_ttl }}">{{ entry_cache_ttl }}</span></label>
                <div class="col-sm-10">
                  <input type="number" min="0" name="module_just_purchased_notification_cache_ttl" value="{{ module_just_purchased_notification_cache_ttl }}" id="input-cache-ttl" class="form-control" />
                </div>
              </div>

              <div class="form-group">
                <div class="col-sm-10 col-sm-offset-2">
                  <button id="btn-clear-cache" type="button" class="btn btn-warning">{{ button_clear_cache }}</button>
                </div>
              </div>
            </div>

            <div class="tab-pane" id="tab-message">
              <div class="form-group required">
                <label class="col-sm-2 control-label" for="input-message-template">{{ entry_message_template }}</label>
                <div class="col-sm-10">
                  <textarea name="module_just_purchased_notification_message_template" id="input-message-template" class="form-control" rows="3">{{ module_just_purchased_notification_message_template }}</textarea>
                  <p class="help-block">{{ text_keywords }}</p>
                  {% if error_message_template %}<div class="text-danger">{{ error_message_template }}</div>{% endif %}
                </div>
              </div>

              <div class="form-group">
                <label class="col-sm-2 control-label" for="input-show-time-ago">{{ entry_show_time_ago }}</label>
                <div class="col-sm-10">
                  <select name="module_just_purchased_notification_show_time_ago" id="input-show-time-ago" class="form-control">
                    <option value="1" {{ module_just_purchased_notification_show_time_ago ? 'selected' : '' }}>{{ text_enabled }}</option>
                    <option value="0" {{ not module_just_purchased_notification_show_time_ago ? 'selected' : '' }}>{{ text_disabled }}</option>
                  </select>
                </div>
              </div>

              <div class="form-group">
                <label class="col-sm-2 control-label" for="input-minute-template">{{ entry_time_minute_template }}</label>
                <div class="col-sm-10"><input type="text" name="module_just_purchased_notification_time_minute_template" value="{{ module_just_purchased_notification_time_minute_template }}" id="input-minute-template" class="form-control" /></div>
              </div>

              <div class="form-group">
                <label class="col-sm-2 control-label" for="input-hour-template">{{ entry_time_hour_template }}</label>
                <div class="col-sm-10"><input type="text" name="module_just_purchased_notification_time_hour_template" value="{{ module_just_purchased_notification_time_hour_template }}" id="input-hour-template" class="form-control" /></div>
              </div>

              <div class="form-group">
                <label class="col-sm-2 control-label" for="input-day-template">{{ entry_time_day_template }}</label>
                <div class="col-sm-10"><input type="text" name="module_just_purchased_notification_time_day_template" value="{{ module_just_purchased_notification_time_day_template }}" id="input-day-template" class="form-control" /></div>
              </div>

              <div class="form-group">
                <label class="col-sm-2 control-label" for="input-hide-time">{{ entry_hide_time_ago_after }}</label>
                <div class="col-sm-10">
                  <input type="number" min="0" name="module_just_purchased_notification_hide_time_ago_after" value="{{ module_just_purchased_notification_hide_time_ago_after }}" id="input-hide-time" class="form-control" />
                  <p class="help-block">{{ help_hide_time_ago_after }}</p>
                </div>
              </div>
            </div>

            <div class="tab-pane" id="tab-design">
              <div class="form-group required">
                <label class="col-sm-2 control-label" for="input-image-width">{{ entry_image_width }}</label>
                <div class="col-sm-4"><input type="number" min="1" name="module_just_purchased_notification_image_width" value="{{ module_just_purchased_notification_image_width }}" id="input-image-width" class="form-control" /></div>
                <label class="col-sm-2 control-label" for="input-image-height">{{ entry_image_height }}</label>
                <div class="col-sm-4"><input type="number" min="1" name="module_just_purchased_notification_image_height" value="{{ module_just_purchased_notification_image_height }}" id="input-image-height" class="form-control" /></div>
                <div class="col-sm-10 col-sm-offset-2">{% if error_image %}<div class="text-danger">{{ error_image }}</div>{% endif %}</div>
              </div>

              <div class="form-group required">
                <label class="col-sm-2 control-label" for="input-background-color">{{ entry_background_color }}</label>
                <div class="col-sm-10"><input type="text" name="module_just_purchased_notification_background_color" value="{{ module_just_purchased_notification_background_color }}" id="input-background-color" class="form-control" /></div>
              </div>

              <div class="form-group required">
                <label class="col-sm-2 control-label" for="input-border-color">{{ entry_border_color }}</label>
                <div class="col-sm-10"><input type="text" name="module_just_purchased_notification_border_color" value="{{ module_just_purchased_notification_border_color }}" id="input-border-color" class="form-control" /></div>
              </div>

              <div class="form-group required">
                <label class="col-sm-2 control-label" for="input-text-color">{{ entry_text_color }}</label>
                <div class="col-sm-10"><input type="text" name="module_just_purchased_notification_text_color" value="{{ module_just_purchased_notification_text_color }}" id="input-text-color" class="form-control" /></div>
              </div>

              <div class="form-group required">
                <label class="col-sm-2 control-label" for="input-link-color">{{ entry_link_color }}</label>
                <div class="col-sm-10"><input type="text" name="module_just_purchased_notification_link_color" value="{{ module_just_purchased_notification_link_color }}" id="input-link-color" class="form-control" /></div>
                <div class="col-sm-10 col-sm-offset-2">{% if error_color %}<div class="text-danger">{{ error_color }}</div>{% endif %}</div>
              </div>
            </div>

            <div class="tab-pane" id="tab-behavior">
              <div class="form-group required">
                <label class="col-sm-2 control-label" for="input-delay">{{ entry_delay }}</label>
                <div class="col-sm-10"><input type="number" min="100" name="module_just_purchased_notification_delay" value="{{ module_just_purchased_notification_delay }}" id="input-delay" class="form-control" /></div>
              </div>

              <div class="form-group required">
                <label class="col-sm-2 control-label" for="input-display-time">{{ entry_display_time }}</label>
                <div class="col-sm-10"><input type="number" min="100" name="module_just_purchased_notification_display_time" value="{{ module_just_purchased_notification_display_time }}" id="input-display-time" class="form-control" /></div>
                <div class="col-sm-10 col-sm-offset-2">{% if error_timing %}<div class="text-danger">{{ error_timing }}</div>{% endif %}</div>
              </div>

              <div class="form-group">
                <label class="col-sm-2 control-label" for="input-start-delay">{{ entry_start_delay }}</label>
                <div class="col-sm-10"><input type="number" min="0" name="module_just_purchased_notification_start_delay" value="{{ module_just_purchased_notification_start_delay }}" id="input-start-delay" class="form-control" /></div>
              </div>

              <div class="form-group">
                <label class="col-sm-2 control-label" for="input-click-anywhere">{{ entry_click_anywhere }}</label>
                <div class="col-sm-10">
                  <select name="module_just_purchased_notification_click_anywhere" id="input-click-anywhere" class="form-control">
                    <option value="1" {{ module_just_purchased_notification_click_anywhere ? 'selected' : '' }}>{{ text_enabled }}</option>
                    <option value="0" {{ not module_just_purchased_notification_click_anywhere ? 'selected' : '' }}>{{ text_disabled }}</option>
                  </select>
                </div>
              </div>

              <div class="form-group">
                <label class="col-sm-2 control-label" for="input-position">{{ entry_position }}</label>
                <div class="col-sm-10">
                  <select name="module_just_purchased_notification_position" id="input-position" class="form-control">
                    <option value="left_bottom" {{ module_just_purchased_notification_position == 'left_bottom' ? 'selected' : '' }}>{{ text_left_bottom }}</option>
                    <option value="right_bottom" {{ module_just_purchased_notification_position == 'right_bottom' ? 'selected' : '' }}>{{ text_right_bottom }}</option>
                  </select>
                </div>
              </div>

              <div class="form-group">
                <label class="col-sm-2 control-label" for="input-motion">{{ entry_motion }}</label>
                <div class="col-sm-10">
                  <select name="module_just_purchased_notification_motion" id="input-motion" class="form-control">
                    <option value="slide" {{ module_just_purchased_notification_motion == 'slide' ? 'selected' : '' }}>{{ text_slide }}</option>
                    <option value="fade" {{ module_just_purchased_notification_motion == 'fade' ? 'selected' : '' }}>{{ text_fade }}</option>
                    <option value="none" {{ module_just_purchased_notification_motion == 'none' ? 'selected' : '' }}>{{ text_none }}</option>
                  </select>
                </div>
              </div>

              <div class="form-group">
                <label class="col-sm-2 control-label" for="input-bottom-offset">{{ entry_bottom_offset }}</label>
                <div class="col-sm-10"><input type="number" min="0" name="module_just_purchased_notification_bottom_offset" value="{{ module_just_purchased_notification_bottom_offset }}" id="input-bottom-offset" class="form-control" /></div>
              </div>

              <div class="form-group">
                <label class="col-sm-2 control-label" for="input-side-offset">{{ entry_side_offset }}</label>
                <div class="col-sm-10"><input type="number" min="0" name="module_just_purchased_notification_side_offset" value="{{ module_just_purchased_notification_side_offset }}" id="input-side-offset" class="form-control" /></div>
              </div>

              <div class="form-group">
                <label class="col-sm-2 control-label" for="input-shuffle">{{ entry_shuffle }}</label>
                <div class="col-sm-10">
                  <select name="module_just_purchased_notification_shuffle" id="input-shuffle" class="form-control">
                    <option value="1" {{ module_just_purchased_notification_shuffle ? 'selected' : '' }}>{{ text_enabled }}</option>
                    <option value="0" {{ not module_just_purchased_notification_shuffle ? 'selected' : '' }}>{{ text_disabled }}</option>
                  </select>
                </div>
              </div>

              <div class="form-group">
                <label class="col-sm-2 control-label" for="input-exclude-product-ids"><span data-toggle="tooltip" title="{{ help_exclude_product_ids }}">{{ entry_exclude_product_ids }}</span></label>
                <div class="col-sm-10"><input type="text" name="module_just_purchased_notification_exclude_product_ids" value="{{ module_just_purchased_notification_exclude_product_ids }}" id="input-exclude-product-ids" class="form-control" /></div>
              </div>

              <div class="form-group">
                <label class="col-sm-2 control-label" for="input-debug">{{ entry_debug }}</label>
                <div class="col-sm-10">
                  <select name="module_just_purchased_notification_debug" id="input-debug" class="form-control">
                    <option value="1" {{ module_just_purchased_notification_debug ? 'selected' : '' }}>{{ text_enabled }}</option>
                    <option value="0" {{ not module_just_purchased_notification_debug ? 'selected' : '' }}>{{ text_disabled }}</option>
                  </select>
                </div>
              </div>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>

<script type="text/javascript">
(function($) {
  $('#btn-clear-cache').on('click', function() {
    $.ajax({
      url: '{{ clear_cache }}',
      type: 'post',
      dataType: 'json',
      success: function(json) {
        if (json.error) {
          alert(json.error);
          return;
        }

        if (json.success) {
          alert(json.success);
        }
      }
    });
  });
})(jQuery);
</script>
{{ footer }}
